#menu {
    padding: 0;
    float: right;
    margin-right: 10%;
}

#menu li {
    display: inline;
      
}
#menu li a {
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    color: #fff;
}
#menu li a:hover {
    margin-top: -2;
    padding-bottom: 12px;
}