#contenedor{
    background-color: #ffffff;
}
#banner{
    background-color: #011c3a;
}
#space{
    height: 4px;
    background-color: #c7a462;
}
#space2{
    height: 20px;
    background-color:#ffff;
}
#space3{
    width: 100%;
    height: 100px;
    background-color:#011c3a;
}
a, h4, label{
    color:#c7a462; 
}
#datos1 input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
#datos2 input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
#select{
    width: 60%;
    height: 30px;
    border-radius: 5px;
}
#form{
    margin-top: 20px;
    width: 40%;  
    padding: 30px;
    margin: 0% auto;
    background-color: #011c3a;
    border-radius: 5px;
}
#footer{
    top: 800px;
    height: 100px;
    background-color:#011c3a;
}

